<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/0.5999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=0.5.0"/>
	<title>Customer Register email</title>
  <style type="text/css">
    body{width:100% !important; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; margin:0; padding:0;}
    img {outline:none; text-decoration:none; -ms-interpolation-mode: bicubic;}
		a img {border:none;}
		.image_fix {display:block;}
  </style>
</head>
<body style="margin: 0; padding: 0;">
  <table
    align="center"
    cellpadding="0"
    cellspacing="0"
    width="100%"
    height="400"
  >
    <thead
    style="background-color:rgba(198,198,198,0.3)">
      <tr height="100">
        <th
        height="50"
        align="center"
        >
          <p style="
            font-size: 35px; font-family: Arial, Helvetica, sans-serif;
            color:#424141;
            margin-top: 0.5em; margin-bottom: 0.5em; margin-left: 0; margin-right: 0;">
            一闪速递
          </p>
        </th>
      </tr>
    </thead>
    <tbody
    style="background-color:rgba(198,198,198,0.3);"
    >
      <tr>
        <td height="300">
          <table
            cellpadding="0"
            cellspacing="0"
            width="600"
            style="border-collapse: collapse;"
            align="center"
          >
          <tbody
          style="background-color: rgb(255,255,255) !important;">
            <tr>
              <td width="500" height="50"  style = "padding-left:20px; font-size: 20px; font-family: Arial, Helvetica, sans-serif;" >
                 <p style="color:#424141;">亲爱的XX：</p>
              </td>
            </tr>

              <tr>
                <td width="500" style = "padding-left:20px;padding-right:20px;" >
                  <p
                  style="
                  font-size: 15px; font-family: Arial, Helvetica, sans-serif;
                  color:#424141;
                  margin-top: 0.5em; margin-bottom: 0.5em; margin-left: 0; margin-right: 0;">
                    欢迎您注册使用一闪转运服务
                  </p>
                </td>
              </tr>
              <tr>
                <td width="500" style = "padding-left:20px;padding-right:20px;">
                  <p
                  style="
                  font-size: 15px; font-family: Arial, Helvetica, sans-serif;
                  color:#424141;
                  margin-top: 0.5em; margin-bottom: 0.5em; margin-left: 0; margin-right: 0;">
                    请点击下面按钮激活您的账户
                  </p>
                </td>
              </tr>
              <tr>
                <td width="500" style = "padding-left:20px;padding-right:20px;">
                  <button style="
                  font-size: 15px; font-family: Arial, Helvetica, sans-serif;
                  color:#424141;
                  margin-top: 0.5em; margin-bottom: 0.5em; margin-left: 0; margin-right: 0;"><a href="https://github.com/lqw1111/logistic_front_end">激活</a></button>
                </td>
              </tr>
              <tr>
                <td width="100" style = "padding-left:10px;padding-right:10px;">
                  <a href="https://github.com/lqw1111/logistic_front_end">https://github.com/lqw1111/logistic_front_end</a>
                </td>
              </tr>
              <tr>
                <td width="500" style = "padding-left:20px;padding-right:20px;" align="end">
                  <p
                  style="
                  font-size: 15px; font-family: Arial, Helvetica, sans-serif;
                  color:#424141;
                  margin-top: 0.5em; margin-bottom: 0.5em; margin-left: 0; margin-right: 0;">
                    谢谢您的支持
                  </p>
                </td>
              </tr>
              <tr>
                <td width="500" style = "padding-left:20px;padding-right:20px;" align="end">
                  <p  style="
                  font-size: 18px; font-family: Arial, Helvetica, sans-serif;
                  color:rgb(255, 145, 0);
                  margin-top: 0.5em; margin-bottom: 0.5em; margin-left: 0; margin-right: 0;">
                    ⚡ 一闪团队
                  </p>
                </td>
              </tr>
            </table>
          </tbody>
        </td>
      </tr>
    </tbody>
	</table>
	<!-- End of wrapper table -->
</body>
</html>



<!--
		<a href="http://htmlemailboilerplate.com" target ="_blank" title="Styling Links" style="color: orange; text-decoration: none;">Coloring Links appropriately</a>
		<img class="image_fix" src="full asdf to image" alt="Your alt text" title="Your title text" width="x" height="x" />
		<span class="mobile_link">0.523-456-7890</span>
-->